---
import Layout from "@/layouts/Layout.astro";
import { useTranslations, getLangFromUrl, getRouteFromUrl, useTranslatedPath } from "@/i18n/utils";
import { languages } from '@/i18n/ui';
const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title={t("app.about.title")} description={t("app.about.description")} >
    <ul>
        {Object.entries(languages).map(([lang, label]) => (
          <li>
            <a href={translatePath(`/${route ? route : ''}`, lang)}>{label}</a>
          </li>
        ))}
      </ul>
</Layout>
