---
import Banner from "@/components/Banner.astro";
import ButtonsAppsStore from "@/components/ButtonsAppsStore.astro";
import Typography from "@/components/ui/typography/Typography.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import qrMennuNegocios from "../assets/img/qr-negocios.png";
import negociosMobileIlustration from "@/assets/img/Negocios-App.png";
const RECAPTCHA_SITE_KEY = import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={t("app.negocios.title")}
  description={t("app.negocios.description")}
>
  <Banner
    title="Sácale el jugo a tu negocio"
    description="Llenamos tu local de gente que consuma la comida que ofreces."
    textBtn="Descarga la APP"
    url="#"
    redirectStoresNegocio
    imgs={[
      {
        alt: "Usando mennu seras un emprendedor exitoso",
        height: 370,
        width: 240,
        src: "/img/banner-business-2.webp",
        widthMobile: 155,
        heightMobile: 239,
      },
      {
        alt: "una mujer cocinando y emprendiendo en mennu",
        height: 370,
        width: 240,
        src: "/img/banner-business-1.webp",
        widthMobile: 155,
        heightMobile: 239,
      },
    ]}
  />
  <!-- ilustaciones 1 -->
  <section class="flex lg:h-[598px] my-8 lg:my-0">
    <!-- container -->
    <div class="w-full mx-auto max-w-[1280px] flex flex-col gap-4 items-center">
      <Typography
        variant="heading"
        weight="medium"
        align="center"
        class="mt-14"
      >
        ¿Por qué ser parte de Mennu?
      </Typography>
      <div
        class="flex flex-col lg:flex-row w-full lg:h-[440px] justify-center items-center gap-8"
      >
        <!-- card 1 -->
        <div class="flex flex-col h-[440px] w-[286px] relative">
          <Image
            src={"/img/business-ilustration-1.webp"}
            width={270}
            height={320}
            alt={""}
            class={"z-10"}
          />
          <!-- card text -->
          <div class="absolute bottom-0 right-0">
            <!-- 100px, 24px, 24px, 24px -->
            <div
              class="flex flex-col h-[360px] w-[270px] shadow-2xl justify-end rounded-[24px] bg-white p-6 rounded-tl-[100px] shadow-[#00183415] relative items-center"
            >
              <div class="flex flex-row h-20 absolute bottom-0 px-6">
                <Typography variant="heading" weight="xSmall" align="center">
                  Incrementa tus ventas
                </Typography>
              </div>
            </div>
          </div>
        </div>
        <!-- card 2 -->
        <div class="flex flex-col h-[440px] w-[286px] relative">
          <Image
            src={"/img/business-ilustration-2.webp"}
            width={270}
            height={320}
            alt={""}
            class={"z-10"}
          />
          <!-- card text -->
          <div class="absolute bottom-0 right-0">
            <!-- 100px, 24px, 24px, 24px -->
            <div
              class="flex flex-col h-[360px] w-[270px] shadow-2xl justify-end rounded-[24px] bg-white p-6 rounded-tl-[100px] shadow-[#00183415] relative items-center"
            >
              <div class="flex flex-col h-20 absolute bottom-0 px-6">
                <Typography variant="heading" weight="xSmall" align="center">
                  Planes de bajo costo
                </Typography>
              </div>
            </div>
          </div>
        </div>
        <!-- card 3 -->
        <div class="flex flex-col h-[440px] w-[286px] relative">
          <Image
            src={"/img/business-ilustration-3.webp"}
            width={270}
            height={320}
            alt={""}
            class={"z-10"}
          />
          <!-- card text -->
          <div class="absolute bottom-0 right-0">
            <!-- 100px, 24px, 24px, 24px -->
            <div
              class="flex flex-col h-[360px] w-[270px] shadow-2xl rounded-[24px] bg-white p-6 rounded-tl-[100px] shadow-[#00183415] relative items-center"
            >
              <div class="flex flex-col h-20 absolute bottom-0 px-6">
                <Typography variant="heading" weight="xSmall" align="center">
                  Es masivo y popular
                </Typography>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ilustaciones 2 -->
  <section class="flex lg:h-[611px] my-8 lg:my-0">
    <!-- container -->
    <div class="w-full mx-auto max-w-[1280px] flex flex-col gap-4 items-center">
      <Typography
        variant="heading"
        weight="medium"
        align="center"
        class="mt-14"
      >
        ¿Quiénes pueden ser parte de Mennu?
      </Typography>
      <div
        class="flex flex-col lg:flex-row w-full lg:h-[423px] justify-center items-center gap-8"
      >
        <!-- card 1 -->
        <div class="flex flex-col h-[416px] w-[270px] relative items-center">
          <Image
            src={"/img/business-ilustration-section-1.webp"}
            width={224}
            height={224}
            alt={""}
            class={"z-10"}
          />
          <div class="absolute top-4 right-0">
            <div
              class="flex flex-col h-[303px] w-[270px] shadow-2xl justify-end rounded-[24px] bg-white p-6 rounded-tl-[100px] shadow-[#00183415] relative items-center"
            >
              <div
                class="flex flex-col h-24 items-center justify-center absolute bottom-0 px-6"
              >
                <Typography variant="heading" weight="xSmall" align="center">
                  Planes de bajo costo
                </Typography>
              </div>
            </div>
          </div>
        </div>
        <!-- card 2 -->
        <div
          class="flex flex-col h-[416px] w-[270px] relative items-center lg:mt-40"
        >
          <Image
            src={"/img/business-ilustration-section-2.webp"}
            width={224}
            height={224}
            alt={""}
            class={"z-10"}
          />
          <div class="absolute top-4 right-0">
            <div
              class="flex flex-col h-[303px] w-[270px] shadow-2xl justify-end rounded-[24px] bg-white p-6 rounded-tl-[100px] shadow-[#00183415] relative items-center"
            >
              <div
                class="flex flex-col h-24 items-center justify-center absolute bottom-0 px-6"
              >
                <Typography variant="heading" weight="xSmall" align="center">
                  Puestos de comida
                </Typography>
              </div>
            </div>
          </div>
        </div>
        <!-- card 3 -->
        <div class="flex flex-col h-[416px] w-[270px] relative items-center">
          <Image
            src={"/img/business-ilustration-section-3.webp"}
            width={224}
            height={224}
            alt={""}
            class={"z-10"}
          />
          <div class="absolute top-4 right-0">
            <!-- 100px, 24px, 24px, 24px -->
            <div
              class="flex flex-col h-[303px] w-[270px] shadow-2xl justify-end rounded-[24px] bg-white p-6 rounded-br-[100px] shadow-[#00183415] relative items-center"
            >
              <div
                class="flex flex-col h-24 items-center justify-center absolute bottom-0 px-6"
              >
                <Typography variant="heading" weight="xSmall" align="center">
                  Cocina en casa
                </Typography>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- methods payment -->
  <section class="flex lg:h-[485px] items-center">
    <div
      class="w-full lg:h-[357px] mx-auto max-w-[1280px] flex flex-col gap-4 items-center lg:items-start justify-center bg-primary px-20 rounded-tl-[100px] rounded-bl-3xl"
    >
      <Typography variant="heading" weight="medium" color="white">
        Nuestros planes de pago
      </Typography>
      <!-- cards -->
      <div class="flex flex-row flex-wrap gap-4">
        <Image
          src={"/img/Básico.webp"}
          width={346}
          height={169}
          alt={"Plan básico"}
        />
        <Image
          src={"/img/Estándar.webp"}
          width={346}
          height={169}
          alt={"Plan básico"}
        />
        <Image
          src={"/img/Premium.webp"}
          width={346}
          height={169}
          alt={"Plan básico"}
        />
      </div>
    </div>
  </section>
  <!-- ilustration download app -->
  <section class="flex h-[725px] items-center">
    <div
      class="w-full lg:h-[504px] mx-auto max-w-[1280px] flex flex-row bg-primary rounded-tr-3xl rounded-br-[100px]"
    >
      <div class="w-full flex flex-col items-center justify-center">
        <div class="gap-4 flex flex-col">
          <Typography variant="heading" weight="large" color="white">
            Descarga Mennu Negocios
          </Typography>
          <Typography variant="paragraph" weight="medium" color="white">
            Consigue nuevos clientes y aumenta tus ventas
          </Typography>
          <!-- qr y btns -->
          <div class="flex flex-row items-center gap-4">
            <Image
              src={qrMennuNegocios}
              alt="Descarga mennu negocios"
              width={160}
              height={160}
              class={"hidden lg:block bg-white p-2"}
            />
            <ButtonsAppsStore />
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col items-center justify-center">
        <Image
          src={negociosMobileIlustration}
          alt="Descarga mennu negocios"
          width={478}
          height={646}
          class={"mt-11"}
        />
      </div>
    </div>
  </section>
</Layout>

<script
is:inline
type="text/javascript"
src={`https://www.google.com/recaptcha/api.js?render=${RECAPTCHA_SITE_KEY}`}
></script>

