---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Layout title={t("app.partners.title")} description={t("app.partners.description")} >
    <h1>
        partners
    </h1>
</Layout>