---
import Layout from "@/layouts/Layout.astro";
import Politicas from "@/components/Politicas_de_privacidad_Mennu.html";

---

<Layout title="Políticas de privacidad">
    <div class=" mx-4 lg:mx-8 my-8">
        <Politicas/>
    </div>
</Layout>