---
import Layout from "@/layouts/Layout.astro";
import TermAndConditions from "@/components/Terminos_y_condiciones_mennu.html";

---

<Layout title="Términos y condiciones" description="Términos y condiciones de uso de la plataforma Mennu.">
    <div class="mx-8 lg:mx-16 my-8">
        <TermAndConditions/>
    </div>
</Layout>