---
interface IProps {
  size?: number;
}

const { size = 60 }: IProps = Astro.props;
---

<div class={`bg-white w-[${size}px] h-[${size}px] rounded-full p-[2px]`}>
  <svg width={size} height={size} fill="none" xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M27.844.093c-4.72.531-7.598 1.343-11.213 3.158-4.057 2.036-7.746 5.09-10.46 8.675-9.768 12.88-7.732 31.057 4.632 41.46 3.792 3.186 8.366 5.4 13.368 6.461 2.493.517 7.303.664 9.87.295 4.722-.693 8.808-2.242 12.63-4.824 7.318-4.928 12.083-12.703 13.175-21.526.236-1.845.192-5.784-.074-7.687C57.942 12.929 47.6 2.38 34.558.373c-1.432-.22-5.68-.398-6.714-.28ZM25.19 15.128c.044 3.32.133 6.167.206 6.314.295.605 1.372.738 1.845.236.162-.177.339-.59.383-.93.06-.338.074-3.024.044-5.96l-.044-5.37.531.088c.782.133 1.874.65 1.963.944.044.133.177 1.18.31 2.317.929 8.44.9 11.331-.148 13.146-.487.84-1.136 1.446-2.553 2.375-1.313.886-1.652 1.328-1.652 2.228 0 .325.265 2.39.575 4.618.886 6.167.9 6.374.9 9.089 0 3.54-.472 5.4-1.696 6.58-1.196 1.151-3.07.944-4.087-.457-1.579-2.213-1.653-7.097-.236-15.654.236-1.505.457-3.232.457-3.837.03-1.372-.118-1.608-1.638-2.611-1.623-1.062-2.626-2.228-3.01-3.511-.324-1.092-.398-2.892-.265-5.695.133-2.494.265-4.073.693-7.953.074-.679.148-.826.546-1.062.251-.163.723-.354 1.048-.443.324-.074.708-.177.855-.221.237-.074.251.265.251 5.769 0 4.839.045 5.916.222 6.255.369.723 1.283.841 1.859.222l.354-.384.044-6.108.044-6.123 1.063.044 1.062.044.074 6.05Zm11.98-5.341c1.874 1.195 3.364 2.95 4.382 5.149.9 1.903 1.21 3.26 1.298 5.665.118 2.995-.177 4.264-2.02 8.838-1.491 3.674-1.58 4.515-.886 8.07.649 3.261.782 4.988.605 7.673-.295 4.146-1.122 6.388-2.36 6.344-.93-.03-1.417-.65-1.875-2.405-.324-1.24-.442-9.147-.383-26.97.03-11.48.059-13.014.25-12.94.119.044.576.31.989.576Z"
      fill="#000"></path>
  </svg>
</div>
