---
import AndroidBlack from "@/assets/svg/AndroidBlack.astro";
import AndroidWhite from "@/assets/svg/AndroidWhite.astro";
import AppleBlack from "@/assets/svg/AppleBlack.astro";
import AppleWhite from "@/assets/svg/AppleWhite.astro";
import {
ANDROID_APP_URL_COMENSAL,
IOS_APP_URL_COMENSAL
} from "@/consts/appStorePaths";
interface Props {
  black?: boolean;
}

const { black = false }: Props = Astro.props;
---

<!-- logos de las playstore descargar en android y apple store responsivo tailwind-->
<div class="flex md:flex-row justify-center items-center gap-2">
  {
    black ? (
      <>
        <a href={ANDROID_APP_URL_COMENSAL} target="_blank" rel="noreferrer">
          <AndroidBlack />
        </a>
        <a href={IOS_APP_URL_COMENSAL} target="_blank" rel="noreferrer">
          <AppleBlack />
        </a>
      </>
    ) : (
      <>
        <a href={ANDROID_APP_URL_COMENSAL} target="_blank" rel="noreferrer">
          <AndroidWhite />
        </a>
        <a href={IOS_APP_URL_COMENSAL} target="_blank" rel="noreferrer">
          <AppleWhite />
        </a>
      </>
    )
  }
</div>
