---
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import "@fontsource/hind";
import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Mennu"} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body><style is:global>
    :root {
      --color-primary: #000000;
      --color-secondary: #ffffff;
      --color-accent: #276ef1;
      --color-complementaryI: #74e918;
      --color-complementaryII: #f72c25;
      --font-family-Hind: "Hind", system-ui, sans-serif;
    }
    html {
      font-family: "Hind", system-ui, sans-serif;
      background: #ffffff;
    }

    main {
      position: relative;
    }
  </style>
</html>
