---
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import "@fontsource/hind";
import hind from "@fontsource/hind/files/hind-latin-400-normal.woff2";
import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale} class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Mennu"} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" href={hind} as="font" type="font/woff2" crossorigin />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="overflow-x-hidden selection:bg-primary selection:text-secondary [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary overflow-hidden"
  >
    <Header />
    <!-- <div
			class="mx-auto min-h-screen max-w-6xl px-2 pt-16 selection:bg-primary selection:text-secondary md:pt-20 lg:px-10"
			id="main-content"
		> -->
    <slot />
    <Footer />
    <!-- </div> -->
    <style is:global>
      :root {
        --color-primary: #000000;
        --color-secondary: #ffffff;
        --color-accent: #276ef1;
        --color-accent-gradient: #C2D8FFD8;
        --color-complementaryI: #74e918;
        --color-complementaryI-gradient: #D4FCB6;
        --color-complementaryII: #f72c25;
        --font-family-Hind: "Hind", system-ui, sans-serif;
        --background-color: #141800;
      }
      html {
        font-family: "Hind", system-ui, sans-serif;
        background: #ffffff;
        scrollbar-gutter: stable;
      }

      main {
        position: relative;
      }

      body {
        /* &:has(dialog[open]) {
          overflow: hidden;
        }, */
        
      }

      /* Hiding class, making content visible only to screen readers but not visually */
      /* "sr" meaning "screen-reader" */
      .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      @supports selector(::-webkit-scrollbar) {
        ::-webkit-scrollbar {
          width: 10px;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: theme("colors.primary");
          border: 2px solid transparent;
          background-clip: content-box;
        }

        ::-webkit-scrollbar-thumb:active {
          background-color: #666;
        }

        ::-webkit-scrollbar-track {
          background: var(--background-image);
        }

        ::-webkit-scrollbar-corner {
          background: var(--background-image);
        }
      }

      @supports not selector(::-webkit-scrollbar) {
        * {
          scrollbar-color: theme("colors.primary") transparent;
          scrollbar-width: thin;
        }
      }

      .anchor-main-content {
        pointer-events: none;
      }

      .anchor-main-content:focus {
        pointer-events: all;
      }
    </style>
  </body>
</html>
